*{
  box-sizing: border-box;
}


.App{
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

h1{
  font-size: 60px;
  color: pink;
  opacity: 0.8;
  text-align: center;
}
form{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}

.text{
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  display: block;
  width: 100%;
}


.text::placeholder{
  color: #d5d5d5;
}
.text:focus{
  outline-color: pink;
}

.todos{
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li{
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}


.todos li.completedd{
  color: pink;
  text-decoration: line-through;
}


small{
  color: #b5b5b5;
  margin-top: 3rem;
  text-align: center;
}





